.navbar {
    background: #012e3e;
    color: #fff;
    -webkit-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.56);
    border: none;
}