@charset "utf-8"
$darker: #012e3e
$white: #fff
$dark: #012e3e
$linkhover: #2194be
$font: "Open Sans Condensed", Arial, sans-serif
$containerwidth: 1280px
$red: #FF6140
$blue: #00729b
.transition
	-webkit-transition: all 0.2s
	-moz-transition: all 0.2s
	transition: all 0.2s
body
	margin: 0
	padding: 0
	font-family: $font
	font-size: 20px
	color: $white
	@extend .background
.clear 
	clear: both
.container 
	max-width: $containerwidth
	margin: 0 auto
	position: relative
.button
	border: 1px solid #fff
	height: 39px
	padding: 3px 35px 36px
	text-transform: uppercase
	font-size: 1.1em
	font-family: $font
	color: $white
	background: transparent
	margin-left: -3px
	cursor: pointer
	outline: none
	position: relative
	margin-left: -5px
	@extend .transition
.button:after
	width: 0%
	height: 100%
	top: 0
	left: 0
	background: $white
	content: ''
	position: absolute
	z-index: -1
	@extend .transition
.button:hover 
	color: $dark
	&:after
		width: 100%
header
	color: $white
	padding: 5px
	text-align: center
	position: relative
	@extend .shadow
	&:after
		width: 100%
		height: 100%
		top: 0
		left: 0
		background: $dark
		content: ''
		position: absolute
		z-index: -2
	.arrow
		display: block
		background-image: url("../img/arrow--white.png")
		width: 15px
		height: 15px
		opacity: 0.3
		right: 170px
		top: 25px
		position: absolute
		background-size: 100% 100%
		@extend .transition
		&:hover
			opacity: 0.8
		&:hover ~ #whatUcanEdit
			border: 1px solid #bdc9cd
	#logo
		float: left
		margin: 20px 0 10px 50px
		position: relative
		a
			text-decoration: none
			color: $white
			@extend .transition
		a:hover
			color: $linkhover
	#logo:after
		display: inline-block
		content: 'beta'
		color: #000
		background-color: rgba(255,255,255,0.5)
		position: absolute
		top: 0
		padding: 0 5px
		font-size: 0.4em
		right: -25px
	#searchbar
		position: absolute
		top: 10px
		left: 0
		right: 0
		width: 70%
		overflow: auto
		margin: auto
		select
			font-family: $font
			font-size: 1em
			padding: 5px 10px
			outline: none
			border: 1px solid #fff
			border-radius: 0
			background: #fff
			width: 105px
			-webkit-appearance: none
			-moz-appearance: none
			text-indent: 0.01px
			text-overflow: ''
			color: black
			-ms-appearance: none
			appearance: none !important
			background-image: url('../img/arrow.png')
			background-position: right center
			background-repeat: no-repeat
		input[type=text],
		input[type=password]
			@extend select
			padding: 6px 10px
			width: 300px
			margin-left: -5px
			background: #fff
.login
	float: right
	padding-bottom: 0
	margin-top: 20px
	text-decoration: none
	@extend .transition
	color: #cfcfcf
	z-index: 999
	img
		width: 32px
		height: 32px
		border-radius: 50%
		margin-top: -5px
	&:hover
		color: $linkhover
	&.exit
		margin-left: 25px
footer
	background: $dark
	width: 100%
	padding: 10px 0
	font-size: 0.7em
	color: $white
	position: absolute
	bottom: -3px
	@extend .shadow
	.createdby
		float: right
		color: #cfcfcf
	.links
		float: left
	a
		text-decoration: none
		color: #cfcfcf
		@extend .transition	
	a:hover
		color: $linkhover
		opacity: 1
.background
	// background: rgb(255,255,255) /* Old browsers */
	// background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%) /* FF3.6+ */
	// background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))) /* Chrome,Safari4+ */
	// background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) /* Chrome10+,Safari5.1+ */
	// background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) /* Opera 12+ */
	// background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) /* IE10+ */
	// background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) /* W3C */
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=1 ) /* IE6-9 fallback on horizontal gradient */
	background: $blue
.shadow
	-webkit-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.56)
	-moz-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.56)
	box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.56)
.day
	width: $containerwidth / 6.299999
	float: left
	margin: 0 5px
	.day__title
		font-size: 1.1em
		color: $white
		background: $dark
		font-weight: 100
		padding: 5px 10px
		margin-bottom: 0
		position: relative
	&.current
		.day__title
			&:after
				content: ''
				@extend i.type
				background: #84E900
				bottom: 0 !important
				top: 0 !important
				left: initial !important
				right: 15px !important
				margin: auto
	ul
		margin: 0
		padding: 0
		li
			list-style-type: none
			font-size: 0.7em
			padding: 5px 10px
			color: black
			background: $white
			height: 90px
			border-bottom: 1px solid #e6e6e6
			width: $containerwidth / 6.299999 - 20
			display: block
			position: relative
			@extend .transition
			&.current
				background-color: #eaf2f4
			h1, p
				font-size: 1em
				margin: 0
			.lesson__right
				position: absolute
				right: 10px
				bottom: 5px
			p
				a
					color: $dark
					text-decoration: none
					@extend .transition
				a:hover
					color: $darker
					text-decoration: underline
		li.window
			background: #e6e6e6
			border-bottom: 1px solid #c0c0c0
		li.nolesson
			display: none
.day.holiday
	opacity: 0
.handle
	display: block
	content: ' '	
	height: 10px
	width: 20px
	bottom: 10px
	opacity: 0.1
	cursor: pointer
	position: absolute
	background: linear-gradient(to bottom, #000 0%, #000 20%, transparent 20%, transparent 40%, #000 40%, #000 60%, transparent 60%, transparent 80%, #000 80%, #000 100%)
	@extend .transition
.sortable-ghost
	opacity: .5
	@extend .shadow
.edit
	height: 11px
	width: 11px
	background: url('../img/edit.png')
	display: block
	position: absolute
	opacity: 0.2
	cursor: pointer
	right: 10px
	top: 10px
	@extend .transition
.edit:hover
	opacity: 0.5	
.plus
	@extend .edit
	background: url('../img/add.png')
	opacity: 0.5
	height: 12px
	width: 12px
.plus:hover
	opacity: 1
#w--1
	height: 650px
#overlay
	width: 100%
	min-height: 100%
	background-color: rgba(0,0,0,0.5)
	overflow: hidden
	position: fixed
	top: 0px
	display: none
	.modal
		margin: 50px auto 0px auto
		width: 500px
		background-color: $white
		border-radius: 5px
		position: relative
		color: black
		display: none
		@extend .shadow
		.maintitle
			font-size: 1.1em
			background: $darker
			padding: 25px 25px 15px
			color: $white
			margin: 0
		.content
			padding: 25px
			// option[selected="selected"]
			// 	color: #e6e6e6
			select
				font-family: $font
				font-size: 1em
				padding: 5px 10px
				outline: none
				border: 1px solid $dark
				color: black
				display: block
				border-radius: 0
				width: 98.8%
				margin-bottom: 10px
				background-color: #fff
				-webkit-appearance: none
				-moz-appearance: none
				text-indent: 0.01px
				text-overflow: ''
				-ms-appearance: none
				appearance: none !important
				background-image: url('../img/arrow.png')
				background-position: right center
				background-repeat: no-repeat
			label
				margin-bottom: 10px
				display: inline-block
			.error
				line-height: 15px
				color: $red
				opacity: 0
				margin: 10px 0
			input[type=text],
			input[type=password]
				@extend select
				background: #fff
				padding: 6px 10px
				width: 94%
			.button
				background-color: $dark
				-webkit-appearance: none
			.button:hover
				color: $white
				opacity: .9
			.button:after
				background: $linkhover
			.button.close
				float: right
			.button.close:after,
			.button.close.active
				background: $red
	#areyousure,
	#another_lesson
		position: absolute
		z-index: 9999
		top: 10px
		display: none
		left: 0
		right: 0
		overflow: auto
		margin: auto
		@extend .modal
		ul
			padding: 0
			list-style-type: none
			text-align: left
		.groups
			width: 60%
			margin: 0 auto
			.groupname
				float: left
				display: block
				padding: 10px 0
		.maintitle
			margin: 0 auto
		.content
			text-align: center
			overflow-y: scroll
			max-height: 450px
			p
				margin-top: 0
			.day
				float: initial
				margin: 15px auto
				li
					border: none
					color: #fff
					background: $blue
					i.edit,
					i.plus
						display: none
					i.type[data-type="0"]
						background: #84E900
					i.type[data-type="1"]
						background: #62B1D0
					i.type[data-type="2"]
						background: #FFA340
					i.type[data-type="0"],
					i.type[data-type="1"],
					i.type[data-type="2"]
						cursor: help
					p
						a
							color: #fff
			.button
				background: $dark
				-webkit-appearance: none
				float: none !important
				width: 60%
				margin: 5px auto
			.button:hover
				color: $white
				opacity: .9
			.button:after
				background: $linkhover
			#new_lesson:after
				background: #37DC74
			.button.close
				float: right
			.button.close:after,
			.button.close.active
				background: $red
			.merge_lesson
				float: right !important
				font-size: 0.8em
				padding: 0
				width: 50%
#search_proposals
	background-color: #F9F9F9
	position: absolute
	width: 40%
	margin: auto
	overflow: auto
	left: 0
	right: 0
	z-index: 999
	top: 67px
	color: $dark
	display: none
	// @extend .shadow
	padding: 5px 25px
	ul
		margin: 0
		padding: 0
		li
			list-style-type: none
			padding: 5px 0
			text-transform: uppercase
			a
				color: $dark
				text-decoration: none
				display: inline-block
				width: 100%
				border-bottom: 1px solid #fff
#index_block
	max-width: 600px
	margin: 50px auto
	font-size: 0.9em
	.title
		text-align: center
	#shield
		margin: 25px auto
		width: 255px
		height: 361px
		background-image: url('../img/shield.png')
		background-size: 100% 100%
	p
		padding-left: 20px
		width: 325px
.one_half
	float: left
	margin-right: 4%
	position: relative
	width: 48%
.last 
	margin-right: 0px !important
	clear: right
.closeicon
	@extend .edit
	width: 20px
	height: 20px
	background-image: url('../img/close.png')
	right: 30px
	top: 25px
#teachersblock,
#roomsblock
	margin-bottom: 10px
	white-space: pre-wrap
	line-height: 35px
#teachersblock span,
#roomsblock span
	color: #fff
	background: $blue
	padding: 0 10px
	line-height: 30px
	margin-right: 10px
	border-radius: 20px
	display: inline-block
	font-size: 0.8em
	-moz-user-select: text
	-khtml-user-select: text
	-webkit-user-select: text
	-o-user-select: text
#teachersblock span a,
#roomsblock span a
	width: 10px
	height: 10px
	background-image: url('../img/close.png')
	background-size: 100% 100%
	opacity: 0.3
	display: inline-block
	margin-left: 5px
	@extend .transition
#teachersblock span a:hover,
#roomsblock span a:hover
	opacity: 0.5
.week
	position: relative
.week:before 
	display: block
	content: 'Тиждень 1'
	font-size: 1.3em
	font-weight: bold
	opacity: 0.5
	margin-left: 10px
	margin-top: 15px
#w--2:before
	content: 'Тиждень 2'
#overlay .modal .content input#edit_lesson_name.inputcorrect[type=text],
#overlay .modal .content input#edit_lesson_name.inputcorrect[type=password]
	background: #f1fbff
	@extend .transition
.noday
	opacity: 0.3
i.type 
	width: 6px
	height: 6px
	display: block
	position: absolute
	border-radius: 100%
	bottom: 11px
	left: 12px
	opacity: 0.5
	-webkit-box-shadow: 0px 0px 10px 0px rgba(164,244,61,1)
	-moz-box-shadow: 0px 0px 10px 0px rgba(164,244,61,1)
	box-shadow: 0px 0px 10px 0px rgba(164,244,61,1)
	@extend .transition
i.type[data-type = "0"]
	cursor: help
	background: #00782D
i.type[data-type = "1"]
	cursor: help
	background: #024C68
i.type[data-type = "2"]
	cursor: help
	background: #A65600
i.type:hover
	opacity: 0.8

#tooltip 
	z-index: 9999
	position: absolute
	display: none
	top: 0px
	left: 0px
	max-width: 350px
	background-color: $dark
	padding: 5px 10px 5px 10px
	color: white
	opacity: 0.8
	border-radius: 5px
	a
		color: $white
		text-decoration: none
	a:hover
		text-decoration: underline
#tooltip.lesson_name
	font-size: 16px
#index_block .title
	color: #012e3e
#index_block #shield
	background-image: url("../img/shield--gradient.png")
input[type=checkbox],
input[type=password]
	margin-right: 15px
#add_to_another_week,
#edit_with_another_week
	display: none
.moregroups-detais
	border-radius: 0 !important
	font-size: 14px
	height: 96px
	-webkit-column-count: 4
	-moz-column-count: 4
	column-count: 4
	opacity: 0.9
	@extend #tooltip
	display: block
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	width: 100%
	height: 101%
	font-style: normal
	display: none
a.moregroups 
	position: absolute
	right: 3px
	bottom: 0
	width: 10px
	display: block
	background-image: url("../img/more.png")
	background-size: 100% 100%
	height: 10px
#profile-settings .container 
	color: #000
	background: #fff
	padding: 25px
	max-width: 800px
	margin: 50px auto
	@extend .shadow
	.title
		margin: 0 auto 25px
	h2, h3
		color: $darker
		margin: 0 auto
	.content
		margin-left: 30px
	.error,
	.success_messege
		line-height: 15px
		color: $red
		text-align: right
		opacity: 0
		margin: 10px 0
	.success_messege
		color: #37DC74
	input
		width: 250px
		outline: none
		display: block
		height: 34px
		padding: 6px 12px
		line-height: 1.42857143
		color: #555
		background-color: #fff
		background-image: none
		border: 1px solid #ccc
		border-radius: 4px
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
	.has-success
		border-color: #3c763d
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)

	.has-success:focus 
		border-color: #2b542c
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168
	.has-warning 
		border-color: #8a6d3b
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
	.has-warning:focus 
		border-color: #66512c
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b
	.has-error 
		border-color: #a94442
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
	.has-error:focus 
		border-color: #843534
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483
	.btn.disabled
		cursor: not-allowed
		filter: alpha(opacity=65)
		-webkit-box-shadow: none
		box-shadow: none
		opacity: .65
	p.hint 
		margin-top: 0
		opacity: 0.8
		font-size: 0.8em
		margin-left: 25px
	.button
		background: $dark
		-webkit-appearance: none
		float: right
	.button:hover
		color: $white
		opacity: .9
	.button:after
		background: $linkhover
	.button.close
		float: right
	.button.close:after,
	.button.close.active
		background: $red
.g-recaptcha div
	margin: auto
.et-box 
	margin: 0px 0px 10px
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1)
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1)
	box-shadow: 0 1px 1px rgba(0,0,0,0.1)
	font-size: 14px
	position: relative
.et-box-content 
	text-shadow: 1px 1px 1px #ffffff
	padding: 27px 43px 17px 66px
	min-height: 35px
.et-info 
	border: 1px solid #e2e2ba
	&:before
		width: 22px
		height: 20px
		background: url("../img/shortcodes-sprite.png") no-repeat -97px -2px
	.et-box-content 
		background: #f9f9dc
		border: 1px solid #fbfbef
		-moz-box-shadow: inset 0 0 45px #efefc0
		-webkit-box-shadow: inset 0 0 45px #efefc0
		box-shadow: inset 0 0 45px #efefc0
.et-bio 
	border: 1px solid #b3d8d3
	&:before
		width: 19px
		height: 15px
		background: url("../img/shortcodes-sprite.png") no-repeat -23px -2px
		top: 33px
	.et-box-content
		color: #80acb0
		background: #ddf5f7
		border: 1px solid #f1fafb
		-moz-box-shadow: inset 0 0 45px #c6edf0
		-webkit-box-shadow: inset 0 0 45px #c6edf0
		box-shadow: inset 0 0 45px #c6edf0

.et-warning:before, .et-download:before, .et-info:before, .et-bio:before, .et-shadow:before
	content: ''
	position: absolute
	top: 32px
	left: 28px
.no-scroll
	overflow: hidden
#login_button_vk
	float: right
	background-image: url("../img/vk.png")
	background-repeat: no-repeat
	background-position: 90% 50%
	padding-right: 50px
	padding-left: 25px
	background-color: #4c75a3 !important
	@extend .transition
	&:after
		background: none !important
	&:hover
		opacity: 0.8 !important
#error-block
	text-align: center
	h1
		font-size: 3em
	h3
		margin-bottom: 0
	p
		margin-top: 10px
#whatUcanEdit
	position: absolute
	top: 38px
	right: 110px
	overflow: hidden
	opacity: 0
	z-index: 999
	background-color: $dark
	border: 1px solid #4b6b76
	font-size: 0.8em
	@extend .transition
	ul
		list-style-type: none
		width: 100px
		padding: 15px
		margin: 0
		.title
			font-weight: bold
		li
			border-top: 1px solid #4b6b76
			padding: 3px 0 
			a
				color: #fff
				text-decoration: none
				@extend .transition
				&:hover
					text-decoration: underline
					opacity: 0.8