<!DOCTYPE html>
<html lang="uk">
	<head>
		<title>Rozklad</title>
		<link rel="stylesheet" href="/static/css/style.css">

		<!-- <link rel="stylesheet" href="../static/css/style.css"> -->
		<meta charset="utf-8">
		<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	</head>
	<body>
		<header>
			<div class="container">
				<div id="logo">
					Новий Розклад КПІ
				</div>
				<form action="" id="searchbar">
					<select name="">
						<option class="groups" value="groups" selected="selected">Група</option>
						<option class="teachers" value="teachers">Викладач</option>
						<option class="rooms" value="rooms">Аудиторія</option>
						<option class="disciplines" value="disciplines">Предмет</option>
					</select>
					<input type="text" placeholder="Введіть запит" name="" id="search__input" autocomplete="off">
					<button class="button">знайти</button>
				</form>
				<a href="#" class="login">Редагувати</a>
				<div class="clear"></div>
			</div>
		</header>
		<div id="search_proposals">
			<ul>
			</ul>
		</div>
			{% block content %}{% endblock %}
		<p>&nbsp;</p>
		<footer>
			<div class="container">
				<div class="links">
					<a href="#">API</a>
				</div>
				<div class="createdby">
					created by <a href="http://vk.com/antontimenko">Anton Timenko</a>, <a href="http://vk.com/vladkampov">Vlad Kampov</a> and <a href="http://vk.com/vlad_sidorenko">Vlad Sidorenko</a>
				</div>
				<div class="clear"></div>
			</div>
		</footer>
		<script>
			$(document).ready(function() {
				$('#search_proposals').css({
					top: $('header').height() * 1.1
				})
				$("#search__input").keyup(function() {
					api_link = "http://{{ base.api_domain }}/"
					base_url = '/' + $('#searchbar option:selected').attr("class") + '/'
					base_api_url = api_link + $('#searchbar option:selected').attr("class") + '/?search='
					if ($(this).val().length >= 2) {
						$.ajax({
							method: "GET",
							url: base_api_url + $("#search__input").val(),
							dataType: "json"
						}).done(function(data) {
							$('#search_proposals ul li').remove()
							if (data.results.length == 0) {
								$('#search_proposals').fadeOut(300)
							} else {
								$('#search_proposals').fadeIn(300)
								data.results.forEach(function(entry) {
									li = $('<li>')
									a = $('<a>', {
										href: base_url + entry.id + '/'
									})
									a.text(entry.name)
									li.append(a)
									$('#search_proposals ul').append(li)
								})
								
								$('#searchbar').attr('action', base_url + data.results[0].id) + '/'
							}
						})
					} else {
						$('#search_proposals').fadeOut(300)
						$('#search_proposals ul li').remove()
					}
				})
			})
		</script>
	</body>
</html>