<!DOCTYPE html>
<html lang="uk">
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/static/css/normalize.css">
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/fonts.css">
		<link rel="stylesheet" href="/static/css/responsive.css">
		<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta charset="utf-8">
		<script src="/static/js/jquery-2.1.4.min.js"></script>
		<script src='https://www.google.com/recaptcha/api.js'></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-69632058-4', 'auto');
		  ga('send', 'pageview');
		</script>
		<script>
			function getCookie(name) {
				var cookieValue = null
				if (document.cookie && document.cookie != '') {
					var cookies = document.cookie.split(';')
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i])
						if (cookie.substring(0, name.length + 1) == (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
							break
						}
					}
				}
				return cookieValue
			}

			$.ajaxSetup({ 
				beforeSend: function(xhr, settings) {
					if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
						xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
					}
				}
			})

			function vk_avatar_callback(data) {
				$("#vk_avatar_img").attr("src", data.response[0].photo_50)
			}

			function mousemove_tooltip_event_handler(eventObject) {
				$data_tooltip = $(this).data("typename")
				$("#tooltip").text($data_tooltip).css({ 
					"top": eventObject.pageY - 20,
					"left": eventObject.pageX + 20
				}).show()
			}

			function mousemove_tooltip_event_handler_lessonname(eventObject) {
				$data_tooltip = $(this).data("fullname")
				$("#tooltip").text($data_tooltip).css({ 
					"top": eventObject.pageY - 20,
					"left": eventObject.pageX + 20
				}).show().addClass("lesson_name")
			}

			function mousemove_tooltip_event_handler_currentday(eventObject) {
				$("#tooltip").text("Сьогодняшній день").css({ 
					"top": eventObject.pageY - 20,
					"left": eventObject.pageX + 20
				}).show().addClass("lesson_name")
			}

			function mouseout_tooltip_event_handler() {
				$("#tooltip").fadeOut(150).text("").css({
					"top": 0,
					"left": 0
				}).removeClass("lesson_name")
			}

			$(document).ready(function() {
				{% if backends.associated|length > 0 %}
					var vk_script = document.createElement("SCRIPT")
					vk_script.src = "https://api.vk.com/method/users.get?user_ids={{ backends.associated.0.uid }}&fields=photo_50&v=5.40&callback=vk_avatar_callback"
					document.getElementsByTagName("head")[0].appendChild(vk_script)
				{% endif %}

				$("#search__input").keyup(function() {
					var base_url = "/" + $("#searchbar option:selected").attr("class") + "/"
					if ($(this).val().length >= 2) {
						var search_url = "/" + $("#searchbar option:selected").attr("class") + "/search/?search=" + $("#search__input").val()

						$.ajax({
							method: "GET",
							url: search_url,
							dataType: "json"
						}).done(function(data) {
							data = data.data

							$("#search_proposals ul li").remove()
							if (data.length == 0) {
								$("#search_proposals").fadeOut(300)
							} else {
								$("#search_proposals").fadeIn(300).css({"opacity": 1, "top": $("#search__input").offset().top + $("#search__input").outerHeight()}).outerWidth($("#search__input").outerWidth() + $("#searchbar select").outerWidth() + $("#searchbar button").outerWidth())
								data.forEach(function(entry) {
									li = $("<li>")
									a = $("<a>", {
										href: base_url + entry.id + "/"
									})
									a.text(entry.name)
									li.append(a)
									$("#search_proposals ul").append(li)
								})
								
								$("#searchbar").attr("action", base_url + data[0].id) + "/"
							}
						})
					} else {
						$("#search_proposals").fadeOut(300)
						$("#search_proposals ul li").remove()
					}
				})

				$(".login").click(function() {
					$("#overlay, #login.modal").css("opacity", 1).fadeIn(300)
					$("body").addClass("no-scroll")
				})

				$(".closeicon").click(function() {
					$("#overlay, #search_proposals, .modal").animate({opacity: 0}, 300, function() {
						$(this).hide()
					})
					$("body").removeClass("no-scroll")
					return false
				})

				$("#login_form input").keyup(function() {
					$(".error").animate({"opacity": 0}, 300)
				})

				$("#login_form").on("submit", function(event) {
					event.preventDefault()

					$.ajax({
						method: $(this).attr("method"),
						url: $(this).attr("action"),
						data: $(this).serialize(),
						dataType: "json"
					}).done(function(data) {
						grecaptcha.reset()

						if (data.status == "OK") {
							location.reload()
						} else {
							if (data.error_code == 0) {
								$(".error").text("Перевірте правильність уведених даних")
							} else {
								$(".error").text("Перевірка на робота не пройдена")
							}

							$(".error").animate({opacity: 1}, 400)
						}
					})
				})

				$(".exit").click(function() {
					$.ajax({
						method: "POST",
						url: "/logout/",
						dataType: "json"
					}).done(function(data) {
						if (data.status == "OK") {
							location.reload()
						}
					})
				})

				$('i.type[data-type="0"], i.type[data-type="1"], i.type[data-type="2"]').on("mousemove", mousemove_tooltip_event_handler).on("mouseout", mouseout_tooltip_event_handler)
				
				$(".moregroups").on("mouseenter", function() {
					$(this).siblings(".moregroups-detais").fadeIn(300)
				})

				$(".moregroups-detais").on("mouseleave", function() {
					$(this).fadeOut(300)
				})
				$(".lesson__title").on("mousemove", mousemove_tooltip_event_handler_lessonname).on("mouseout", mouseout_tooltip_event_handler)
				$(".day.current .day__title").on("mousemove", mousemove_tooltip_event_handler_currentday).on("mouseout", mouseout_tooltip_event_handler)
				
			})

			$(document).ready(function() {
				setTimeout(function() {
					autoHeight = $('#whatUcanEdit').outerHeight() + 24
					$('#whatUcanEdit').css({height: 0})
				}, 1)
				$(".arrow").click(function() {
					if ($(this).attr("data-active") == "false")	{
						$("#whatUcanEdit").animate({
							height: autoHeight,
							opacity: 1
						}, 150)
						$(this).attr("data-active", "true")
					} else {
						$("#whatUcanEdit").animate({
							height: 0
						}, 150, function() {
							$("#whatUcanEdit").animate({opacity: 0}, 150)
						})
						$(this).attr("data-active", "false")
					}
				})
			})
		</script>
	</head>
	<body>
		<header>
			<div class="container">
				<div id="logo">
					<a href="/">Новий Розклад КПІ</a>
				</div>
				<form action="" id="searchbar">
					<select name="">
						<option class="groups" value="groups" {% if not type or type == 'groups' %}selected="selected"{% endif %}>Група</option>
						<option class="teachers" value="teachers" {% if type == 'teachers' %}selected="selected"{% endif %}>Викладач</option>
						<option class="rooms" value="rooms" {% if type == 'rooms' %}selected="selected"{% endif %}>Аудиторія</option>
						<option style="display: none" class="disciplines" value="disciplines" {% if type == 'disciplines' %}selected="selected"{% endif %}>Предмет</option>
					</select>
					<input type="text" placeholder="Введіть запит" name="" id="search__input" autocomplete="off" value="{{ top_menu_str }}">
					<button class="button">знайти</button>
				</form>
				{% if user.is_authenticated %}
					{% if user_edit_allowed.groups or user_edit_allowed.teachers %}
						<a href="#" class="arrow" data-active="false"></a>
						<div id="whatUcanEdit">
							{% if user_edit_allowed.groups %}
								<ul class="groups">
									<span class="title">Групи</span>
									{% for group in user_edit_allowed.groups %}
										<li><a href="/groups/{{ group.id }}">{{ group.name|upper }}</a></li>
									{% endfor %}
								</ul>
							{% endif %}
							{% if user_edit_allowed.teachers %}
								<ul class="teachers">
									<span class="title">Викладачі</span>
									{% for teacher in user_edit_allowed.teachers %}
										<li><a href="/teachers/{{ teacher.id }}">{{ teacher.short_name|upper }}</a></li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>
					{% endif %}
					<a class="login exit" style="cursor: pointer">Вийти</a>
					{% if backends.associated|length == 0 %}
						<a href="/profile/" class="login">
							{{ user.username }}
						</a>
					{% else %}
						<a href="https://vk.com/id{{ backends.associated.0.uid }}" class="login" target="_blank">
							<img src="" alt="" id="vk_avatar_img">
						</a>
					{% endif %}
				{% else %}
					<a class="login" style="cursor: pointer">Увійти</a>
				{% endif %}
				<div class="clear"></div>
			</div>
		</header>
		<div id="search_proposals">
			<ul>
			</ul>
		</div>
			{% block content %}{% endblock %}
		<div id="tooltip"></div>
		<p>&nbsp;</p>
		<footer>
			<div class="container">
				<div class="links">
					<a>API</a> &nbsp; <a href="http://bot.hub.kpi.ua" class="foretelegram">КПИ Бот</a>  &nbsp; <a href="http://hub.kpi.ua" class="foretelegram">КПИ hub</a>
				</div>
				<div class="createdby">
					created by <a href="http://vk.com/antontimenko">Anton Timenko</a>, <a href="http://vk.com/vladkampov">Vlad Kampov</a> and <a href="http://vk.com/vlad_sidorenko">Vlad Sidorenko</a>
				</div>
				<div class="clear"></div>
			</div>
		</footer>
		{% if not user.is_authenticated %}
		<div id="overlay" class="modal_login">
			<div id="login" class="modal">
				<h1 class="maintitle">Вікно логіну</h1>
				<i class="closeicon"></i>
				<div class="content">
					<form action="/login/" method="post" id="login_form">
						<input type="text" placeholder="Ім'я користувача" name="username">
						<input type="password" placeholder="Пароль" name="password">
						<div class="g-recaptcha" data-sitekey="6LeqARETAAAAAL2RGxJ7Pm6XQjrmVyX_nk6tumdZ"></div>
						<p class="error">Error</p>
						<button type="submit" class="button" id="login_button">Увійти</button>
						<button type="button" class="button" id="login_button_vk" onclick="location.href = '/login/vk-oauth2'">Увійти через</buttona>
					</form>
				</div>
			</div>
		</div>
		{% endif %}
	</body>
</html>
