{% extends 'base.html' %}

{% block content %}
<div id="index_block" class="container">
	<h1 class="title">Вітаємо на Новому Розкладі КПІ!</h1>
	<div id="shield" class="one_half"></div>
	<p class="one_half last">Відтепер ти матимеш доступ до актуального онлайн-розкладу завжди! <br><br>А якщо щось не співпадає, то мершій штовхай свого старосту, щоб той швиденько все змінив.<br><br>Якщо ти староста, або викладач, то пиши <a href="http://goo.gl/forms/ZXQ0Nh9HAc" target="_blank">сюди</a> і ми надамо тобі доступ!<br><br>Наразі цей розклад працює у режимі бета-тестування, тому ми будемо вдячні приймати будь-які ваші відгуки</p>
	<div class="clear"></div>
</div>
<style>
	.background, body{
		background-color: #fcfcfc;;
		color: #000;
	}
</style>
{% endblock %}
