{% extends 'base.html' %}

{% block content %}
<div id="index_block" class="container">
	<h1 class="title">Вітаємо на Новому Розкладі КПІ!</h1>
	<div id="shield" class="one_half"></div>
	<p class="one_half last">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit est vitae iaculis luctus. Curabitur commodo nisi non lorem dignissim laoreet. Morbi ultricies, lorem quis mollis laoreet, leo erat ornare quam, nec lobortis libero velit nec urna. Ut a nisl et orci posuere laoreet. Duis nec vestibulum enim. Vestibulum sed ipsum turpis. Pellentesque placerat ullamcorper auctor. Nulla fermentum, sapien id blandit molestie, nisi arcu elementum nisi, non condimentum dolor odio gravida enim. Nunc id lobortis sem.</p>
	<div class="clear"></div>
</div>
{% endblock %}
