{% extends 'base.html' %}

{% block content %}
<section class="timetable">
	<div class="container">
	</div>
</section>
<script>
	$(document).ready(function() {
		api_link = "http://{{ base.api_domain }}/"
		
		$.ajax({
			method: "GET",
			url: api_link + "{{ type }}/{{ id }}/",
			dataType: "json",
		}).done(function(data) {
			$("#search__input").val(data.name.toUpperCase())
			$('head title').append(' - ' + data.name.toUpperCase())
		})

		$("#searchbar select").val("{{ type }}")

		$.ajax({
			method: "GET",
			url: api_link + "{{ type }}/{{ id }}/timetable/",
			dataType: "json"
		}).done(function(data) {
			for (var i = 1; i <= 2; i++) {
				if (data.data.hasOwnProperty(i)) {
					div_week = $('<div>', {
						class: 'week',
						id: 'w--' + i
					})
					div_clear = $('<div>', {
						class: 'clear'
					})
					
					$('.timetable .container').append(div_week)
					$('.timetable .container').append(div_clear)
					
					for (var j = 1; j <= 6; j++)
					{
						div_day = $('<div>', {
							class: 'day',
							id: 'day--' + j + 'w' + i
						})
						h1_daytitle = $('<h1>', {
							class: "day__title"
						})
						div_day.append(h1_daytitle)
						div_week.append(div_day)
						if (data.data[i].hasOwnProperty(j)) {
							switch (j) {
								case 1:
									h1_daytitle.text('Понеділок')
									break
								case 2:
									h1_daytitle.text('Вівторок')
									break
								case 3:
									h1_daytitle.text('Середа')
									break
								case 4:
									h1_daytitle.text('Четвер')
									break
								case 5:
									h1_daytitle.text('П\'ятниця')
									break
								case 6:
									h1_daytitle.text('Субота')
									break
								default:
									break
							}
							div_day.append('<ul></ul>')
							var isWindow = false
							for (var k = 1; k <= 6; k++) {
								if (data.data[i][j].hasOwnProperty(k)) {
									var max = Object.keys(data.data[i][j]).sort().pop()
									if (k == max)
										isWindow = true

									div_li = $('<li>')
									h1_lesson__title = $('<h1>', {
										class: 'lesson__title'
									})
									p_lesson__right = $('<p>', {
										class: 'lesson__right'
									})
									p_lesson__left = $('<p>', {
										class: 'lesson__left'
									})
									h1_lesson__title.text(data.data[i][j][k].discipline.name) 
									
									{% if type == 'groups' %}
										var first_list = ''
										data.data[i][j][k].rooms.forEach(function(entry) {
											first_list += '<a href="/rooms/' + entry.id + '">' + entry.name + '</a><br>'
										})
										p_lesson__right.html(first_list)
										
										var second_list = ''
										data.data[i][j][k].teachers.forEach(function(entry) {
											second_list += '<a href="/teachers/' + entry.id + '">' + entry.short_name + '<br>'
										})
										p_lesson__left.html(second_list)
									{% elif type == 'teachers' %}
										var first_list = ''
										data.data[i][j][k].rooms.forEach(function(entry) {
											first_list += '<a href="/rooms/' + entry.id + '">' + entry.name.toUpperCase() + '<br>'
										})
										p_lesson__right.html(first_list)
										
										var second_list = ''
										data.data[i][j][k].groups.forEach(function(entry) {
											second_list += '<a href="/groups/' + entry.id + '">' + entry.name.toUpperCase() + '<br>'
										})
										p_lesson__left.html(second_list)
									{% else %}
										var first_list = ''
										data.data[i][j][k].groups.forEach(function(entry) {
											first_list += '<a href="/groups/' + entry.id + '">' + entry.name.toUpperCase() + '<br>'
										})
										p_lesson__right.html(first_list)
										
										var second_list = ''
										data.data[i][j][k].teachers.forEach(function(entry) {
											second_list += '<a href="/teachers/' + entry.id + '">' + entry.short_name + '<br>'
										})
										p_lesson__left.html(second_list)
									{% endif %}

									div_li.append(h1_lesson__title).append(p_lesson__right).append(p_lesson__left)
									div_day.find('ul').append(div_li)
								} else {
									if (!isWindow) {
										div_li = $('<li>', {
											class: "window"
										})
										div_day.find('ul').append(div_li)
									}
								}
							}
						} else {
							$('#day--' + j + 'w' + i).css('opacity', 0).addClass('noday')
						}
					}
				}
			}
		})
	})
</script>
<style>
	#w--1{
	    height: initial;
	}
</style>
{% endblock %}
