{% extends 'base.html' %}

{% block content %}
	<section class="timetable">
		<div class="container">
			{% for week in timetable %}
				<div class="week" id="w--{% cycle '1' '2' as week_number %}">
					{% for day in week %}
						<div class="day{% if not day %} noday{% endif %}" id="day--{% cycle '1' '2' '3' '4' '5' '6' %}w{{ week_number }}">
							<h1 class="day__title">{% cycle 'Понеділок' 'Вівторок' 'Середа' 'Четвер' "П'ятниця" 'Субота' %}</h1>
							{% if day %}
								<ul>
									{% for lesson in day %}
										{% if lesson %}
											<li>
												<h1 class="lesson__title">{{ lesson.discipline.name|truncatechars:40 }}</h1>
												<i class="type" data-type="{{ lesson.type }}"></i>
												<p class="lesson__right">
													{% if type == 'groups' or type == 'teachers' %}
														{% for room in lesson.rooms.all %}
															<a href="/rooms/{{ room.id }}">{{ room.full_name }}</a>
															<br>
														{% endfor %}
													{% else %}
														{% for group in lesson.groups.all %}
															<a href="/groups/{{ group.id }}">{{ group.name|upper }}</a>
															<br>
														{% endfor %}
													{% endif %}
												</p>
												<p class="lesson__left">
													{% if type == 'groups' or type == 'rooms' %}
														{% for teacher in lesson.teachers.all %}
															<a href="/teachers/{{ teacher.id }}">{{ teacher.short_name }}</a>
															<br>
														{% endfor %}
													{% else %}
														{% for group in lesson.groups.all %}
															<a href="/groups/{{ group.id }}">{{ group.name|upper }}</a>
															<br>
														{% endfor %}
													{% endif %}
												</p>
											</li>
										{% else %}
											<li class="window"></li>
										{% endif %}
									{% endfor %}
								</ul>
							{% endif %}
						</div>
					{% endfor %}
				</div>
				<div class="clear"></div>
			{% endfor %}
		</div>
	</section>
	<style>
		#w--1 {
		    height: initial;
		}
	</style>
	<script>
		$(document).ready(function() {
			$('i.type[data-type="0"]').attr('data-typename', 'Лекція')
			$('i.type[data-type="1"]').attr('data-typename', 'Практика')
			$('i.type[data-type="2"]').attr('data-typename', 'Лабораторна')
		})
	</script>
{% endblock %}
